body
  font-family: 'Source Sans Pro', sans-serif;
  background: #f9f9f9;

.navbar
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);

#app
  .sidebar
    background: linear-gradient(45deg, green, teal);
    width 15.75rem
    border-right none

  .sidebar-heading
    color: #efefef;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing 0.13rem;
    font-size 14px;
    padding 0 1.4rem
    margin-bottom: 0.5rem

  .sidebar-group:not(.first)
    margin-top: 0rem

  a.sidebar-link
    color #fff
    font-size: 0.95em
    font-weight: normal
    border-left 0.125rem solid transparent

  a.sidebar-link:hover
    color #fff
    opacity 0.5
    border-left-color rgba(255, 255, 255, 0.7)

  a.sidebar-link:active
    color #fff
    opacity 0.7
    border-left-color rgba(255, 255, 255, 0.5)

  a.sidebar-link.active
    color #fff
    border-left-color rgba(255, 255, 255, 0.5)

  .sidebar-group a.sidebar-link
    padding-left 1.5rem

  .sidebar-links
    >li:last-child
      margin: 0 0 2rem
